
main{
    position: absolute;
    z-index: 20;
    width: calc(100% - 270px);
    top: 62px;
    left: 270px;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    width: 80vw; 
    margin: auto;
    align-self: center;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-header{
      display: block;
      text-align: center;
      
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    z-index: 55;
  }



  /* les messages de vide inputs */
  .messageTitle{
    font-size: 13px;
    color : red;
  }

  .messageChapter{
    font-size: 13px;
    color : red;
  }

  .messagePrix{
    font-size: 13px;
    color : red;
  }

  .messageName{
    font-size: 13px;
    color : red;
}

.messageEmail{
    font-size: 13px;
    color : red;
}

/* .Atable{
    position: fixed;
} */

@media screen and (max-width:920px) {
    main{
        left: 0;
        width: 100%;
    }
    

}

@media screen and (max-width:767px){
    
    .card {
        width: 90% !important;
        margin: 0 auto;
        
    }
    
}